<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommended Artists - StereoType</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
</head>

<body class="body-recs">
  <div class="logo-container">
    <a href="/home" class="logo-link">
        <img src="static/logo-round-transp.png" alt="StereoType Logo">
        <h1 class="logo-name">StereoType</h1>
    </a>
  </div>

  <!-- Navigation buttons -->
  <div class="nav-buttons">
    <button class="btn btn-secondary" onclick="window.location.href='home'">Home</button>
    <button class="btn btn-secondary" onclick="window.location.href='recommend_start'">Recommend</button>
  </div>

  <div class="content-container" id="content-recs">
    <h2 class="recommended-heading">Artists picked for you</h2>
    <br>
      <div class="recommended-artists">

          <ul>
            {% for artist in recommendations %}
            <li>
                <a href="{{ artist['external_urls'] }}" target="_blank">
                    <img src="{{ artist['images'][0]['url'] }}" alt="{{ artist['name'] }}" width="100" height="100">
                </a>
                <br>
                <a href="{{ artist['external_urls'] }}" target="_blank">{{ artist['name'] }}</a>
            </li>
        {% endfor %}
          </ul>
      </div>        
  </div>

  <!-- Footer -->
  <footer>
      <p>2024 StereoType</p>
  </footer>
<script src="static/script.js"></script>
</body>