<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Stereotype</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    
    <div class="logo-container">
      <img src="static/logo-round-transp.png" alt="StereoType Logo">
      <h1 class="logo-name">StereoType</h1>
    
      {% if user_profile %}
      <div class="user-profile">
        <div class="custom-dropdown">
            <button class="btn btn-secondary custom-dropdown-toggle" id="customDropdownButton">
                <img src="{{ user_profile['images'][0]['url'] }}" alt="Profile Image" width="40" height="40" class="rounded-circle">
                <strong>{{ user_profile.display_name }}</strong>
            </button>
            <div class="custom-dropdown-menu" id="customDropdownMenu">
                <a class="dropdown-item" href="{{ user_profile.external_urls.spotify }}" target="_blank">Open Spotify</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
      </div>
      {% endif %}

    </div>
    {% if user_profile %}
    <div class="nav-banner">
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('recommend_start') }}">Recommendations</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav>
    </div>
    {% endif %}
  </header>


  <div class="dashboard">
    <!-- Top Artists Section -->
    <div class="dashboard-top">
        <h2>{{ user_profile.display_name }}'s Top Artists</h2>
        <div class="horizontal-scroll">
            <ul class="artists-list">
                {% for artist in top_artists %}
                <li>
                    <a href="{{ artist['external_urls']['spotify'] }}" target="_blank">
                        <img src="{{ artist['images'][0]['url'] }}" alt="{{ artist['name'] }}">
                    </a>
                    <span>{{ artist['name'] }}</span>
                </li>
                {% endfor %}
                <!-- Duplicate items for continuous scrolling -->
                {% for artist in top_artists %}
                <li>
                    <a href="{{ artist['external_urls']['spotify'] }}" target="_blank">
                        <img src="{{ artist['images'][0]['url'] }}" alt="{{ artist['name'] }}">
                    </a>
                    <span>{{ artist['name'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Top Tracks Section -->
    <div class="dashboard-top">
        <h2>{{ user_profile.display_name }}'s Top Tracks</h2>
        <div class="horizontal-scroll">
            <ul class="tracks-list">
                {% for track in top_tracks %}
                <li>
                    <a href="{{ track['external_urls']['spotify'] }}" target="_blank">
                        <img src="{{ track['album']['images'][0]['url'] }}" alt="Album Art">
                    </a>
                    <span>{{ track['name'] }}</span>
                </li>
                {% endfor %}
                <!-- Duplicate items for continuous scrolling -->
                {% for track in top_tracks %}
                <li>
                    <a href="{{ track['external_urls']['spotify'] }}" target="_blank">
                        <img src="{{ track['album']['images'][0]['url'] }}" alt="Album Art">
                    </a>
                    <span>{{ track['name'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

  <footer>
    <p>&copy; 2024 StereoType</p>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
