<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StereoType - Trending</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">


</head>
<body>
  <header>
    <div class="logo-container">
      <img src="static/logo-round-transp.png" alt="StereoType Logo">
      <h1>StereoType</h1>
      {% if user_profile %}
      <div class="user-profile">
      <img src="{{ user_profile['images'][0]['url'] }}" alt="Profile Image" width="200">
      <p>{{ user_profile.display_name }}</p>
      </div>
    {% endif %}
    </div>
    <div class="nav-banner">
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">HOME</a></li>
          <li><a href="{{ url_for('trending') }}">DASHBOARD</a></li>
          <li><a href="{{ url_for('recommend_start') }}">RECOMMENDATIONS</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="dashboard">
    <!-- Top Artists Section -->
    <div class="dashboard-top">
        <h2>Top Artists</h2>
        <div class="horizontal-scroll">
            <ul class="artists-list">
                {% for artist in top_artists %}
                <li>
                    <img src="{{ artist['images'][0]['url'] }}" alt="{{ artist['name'] }}" width="50" height="50" style="border-radius: 50%;">
                    <span>{{ artist['name'] }}</span>
                </li>
                {% endfor %}
                <!-- Duplicate items for continuous scrolling -->
                {% for artist in top_artists %}
                <li>
                    <img src="{{ artist['images'][0]['url'] }}" alt="{{ artist['name'] }}" width="50" height="50" style="border-radius: 50%;">
                    <span>{{ artist['name'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Top Tracks Section -->
    <div class="dashboard-top">
        <h2>Top Tracks</h2>
        <div class="horizontal-scroll">
            <ul class="tracks-list">
                {% for track in top_tracks %}
                <li>
                    <span>{{ track['name'] }} - {{ track['artists'][0]['name'] }}</span>
                </li>
                {% endfor %}
                <!-- Duplicate items for continuous scrolling -->
                {% for track in top_tracks %}
                <li>
                    <span>{{ track['name'] }} - {{ track['artists'][0]['name'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
  <footer>
    <p>&copy; 2024 StereoType</p>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
