<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StereoType - Home</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">

</head>
<body>
  <header>
    <div class="logo-container">
      <img src="static/logo-round-transp.png" alt="StereoType Logo">
      <h1>StereoType</h1>
      {% if user_profile %}
      <div class="user-profile">
      <p>{{ user_profile.display_name }}</p>
      </div>
    {% endif %}
    </div>
    
    <div class="nav-banner">
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">HOME</a></li>
          <li><a href="{{ url_for('trending') }}">TRENDING</a></li>
          <li><a href="{{ url_for('recommend_start') }}">RECOMMENDATIONS</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  

  <div id="content">
    {% if 'access_token' not in session %}
    <h2>Welcome to StereoType!</h2>
    <p>Discover new music, get personalized recommendations, and explore trending artists.</p>
    <a href="{{ authorization_url }}"><button id="linkSpotifyBtn">Login with Spotify</button></a>
    {% endif %}
  
    {% if user_profile %}
      <h2>Welcome, {{ user_profile.display_name }}!</h2>
      <p>Find your groove with new tunes, let's get started.</p>
      <a href="{{ url_for('recommend_start') }}"><button id="recommendationsBtn">Get Recommendations</button></a>
    {% endif %}
  </div>

  <footer>
    <p>&copy; 2024 StereoType</p>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
