<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommend - StereoType</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">
  <!---Google font import-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
</head>
    <body class="recommendation-page">
        <div class="logo-container">
            <img src="static/logo-round-transp.png" alt="StereoType Logo">
            <h1 class="logo-name">StereoType</h1>
        </div>
        <div class="content-container" id="content">
            <h2>Choose Type of Recommendation</h2>
            <div class="recommendation-buttons">
                <form action="{{ url_for('recommend_start') }}" method="post">
                    <input type="hidden" name="seed_type" value="artist">
                    <button type="submit">Artists</button>
                </form>
                <br>
                <form action="{{ url_for('recommend_start') }}" method="post">
                    <input type="hidden" name="seed_type" value="track">
                    <button type="submit">Songs</button>
                </form>
                <br><br>
            </div>
        </div>
    
        <!-- Footer -->
        <footer>
            <p>&copy; 2024 StereoType</p>
        </footer>
    </body>    
</html>
