<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendation - Start</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Start Recommendation</h1>
    </header>
    
    <div class="content-container" id="content">
        <h2>Choose Type of Recommendation</h2>
        <div class="recommendation-buttons">
            <form action="{{ url_for('recommend_start') }}" method="post">
                <input type="hidden" name="seed_type" value="artist">
                <button type="submit">Get Artist Recommendations</button>
            </form>
            <br>
            <form action="{{ url_for('recommend_start') }}" method="post">
                <input type="hidden" name="seed_type" value="track">
                <button type="submit">Get Track Recommendations</button>
            </form>
        </div>
    </div>    
    
    <footer>
        <p>&copy; 2024 StereoType</p>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>
