<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Songs</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/logo-round-transp.png">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="static/logo-round-transp.png" alt="StereoType Logo">
            <h1>StereoType</h1>
            {% if user_profile %}
            <div class="user-profile">
            <img src="{{ user_profile['images'][0]['url'] }}" alt="Profile Image" width="200">
            <p>{{ user_profile.display_name }}</p>
            </div>
          {% endif %}
          </div>
        <div class="nav-banner">
          <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('dashboard') }}">DASHBOARD</a></li>
                <li><a href="{{ url_for('recommend_start') }}">RECOMMENDATIONS</a></li>
                <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            </ul>
          </nav>
        </div>
      </header>
    
    <div class="content-container" id="content-recs">
        <div class="top-songs">
            <h2>Based on your top songs...</h2>
            <ul>
                {% for song in top_songs[:5] %}
                    <li>
                        <img src="{{ song.album.images[0].url }}" alt="{{ song.name }} cover photo">
                        <div class="song-info">
                            <p><strong>{{ song.name }}</strong> by 
                            {% for artist in song.artists %}
                                {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            </p>
                            <p><a href="{{ song.external_urls['spotify'] }}">Listen on Spotify</a></p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="recommended-songs">
            <h2>You might like</h2>
            <ul>
                {% for track in recommendations['tracks'][:5] %}
                <li>
                    <img src="{{ track['album']['images'][0]['url'] }}" alt="Album Art">
                    <div class="song-info">
                        <p><strong>{{ track['name'] }}</strong> by 
                        {% for artist in track['artists'] %}
                            {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </p>
                        <p><a href="{{ track['external_urls']['spotify'] }}">Listen on Spotify</a></p>
                    </div>
                </li>                
                {% endfor %}
            </ul>
        </div>
    </div>    

    <footer>
        <p>&copy; 2024 StereoType</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>
