/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Scale button on hover */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Artists Page Styles */
  .carousel {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .artist {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth transformation */
  }
  
  .artist:hover {
    transform: translateY(-10px); /* Move artist image up on hover */
  }
  
  .artist img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Add transition for smooth transformation */
  }
  
  .artist:hover img {
    transform: scale(1.1); /* Scale artist image on hover */
  }
  