<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StereoType - Trending</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="static/logo-round-transp.png">


</head>
<body>
  <header>
    <div class="logo-container">
      <img src="static/logo-round-transp.png" alt="StereoType Logo">
      <h1>StereoType</h1>
    </div>
    <div class="nav-banner">
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">HOME</a></li>
          <li><a href="{{ url_for('trending') }}">TRENDING</a></li>
          <li><a href="{{ url_for('recommend_start') }}">RECOMMENDATIONS</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="content-container" id="content">
    <h2>Trending</h2>
    <div id="artistsCarousel" class="carousel">
      <!-- Trending artists will be displayed here -->
    </div>
  </div>

  <footer>
    <p>&copy; 2024 StereoType</p>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
