<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StereoType - Trending</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/x-icon" href="music icon.png">

</head>
<body>
  <header>
    <h1>StereoType</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('trending') }}">Trending</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
  </header>

  <div class="content-container" id="content">
    <h2>Trending</h2>
    <div id="artistsCarousel" class="carousel">
      <!-- Trending artists will be displayed here -->
    </div>
  </div>

  <footer>
    <p>&copy; 2024 StereoType</p>
  </footer>

  <script src="static/script.js"></script>
</body>
</html>
